<p><a href="http://bit.ly/29F4rKf">With<strong>&nbsp;<em>a</em></strong><em>&middot;<strong>u</strong>&middot;<strong>thor</strong></em>&middot;<strong>it</strong>&middot;<strong>y,</strong></a></p>

<p>&nbsp;&nbsp;</p>

<p>-a</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>I feel like God is trying to motivate us to ... get more involved in this whole &quot;creation&quot; or &quot;salvation&quot; thing, and I spend way too much time telling you why it&#39;s not happening.... and you&#39;re...</p>

<p>&nbsp;</p>

<blockquote>
<p>So, quite a few of you are... reporters or in the media: what can I do to help make this more obviously newsworthy?&nbsp; Anything?</p>

<p>&nbsp;</p>

<p>A good deal of you are also academics... I think if&nbsp;<a href="http://bit.ly/29OZ9zz">someone was able to use this material to actually show using statistics</a>&nbsp;that these messages cannot be random... that would do it.&nbsp; Does anyone have any interest?</p>
</blockquote>

<p>Edit welcome message&nbsp;Clear welcome message</p>

<p>&nbsp;</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(134).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/8Hau427IlS8">Lost between Soloman and St. One, U-Build-It Heaven and &quot;they will come.&quot; Day 4</a></p>

<p>1 post3 views</p>

<p>adam5</p>

<p>Dec 27</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(135).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/GE8gcl5Aw9Q">I saw an angel coming down out of Heaven, holding in his hand the key to the abyss... and a great &quot;e-mail chain.&quot; -Revelation 20:1</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 26</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(135).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/-VVT0tQauIk">Fwd: Monday, Junkanoo. All you hear is Babel? &quot;Still I build my towers high, and still I burn this Earthen fire; still I burn this Earthen fire.&quot; -Cake</a></p>

<p>11</p>

<p>adam</p>

<p>Dec 26</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(136).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/lIQKvLKD-BQ">Fwd: Adam Marshall Dobrin sent you a playlist: &quot;Christmas Morning&quot;</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(136).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/e4vBIBIVyuA">Fwd: Why I am.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Dec 24</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(137).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/ZT_mumPjlh8">A Dreidel, Horse and no Carriage in sight</a></p>

<p>22</p>

<p>adam5</p>

<p>Dec 24</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(139).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/FdSnjvrDm6w">Fwd: `The Creator of the Universe is Roaring. SUDO XE: in David&#39;s root and an Oracle flash of bright light.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Dec 23</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(138).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/5kdh5AwKmpM">The Creator of the Universe is speaking. I&#39;m asking you to listen, and please help make this Christmas really, actually, without a doubt: Dawn.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Dec 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(138).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/J4MdmcKJRJo">A diamond in the rough.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Dec 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(138).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/X-NImDaP_zo">Err@a</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Dec 21</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(140).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/PyZ_E0TM53E">Brehold, you are now baptized in water and in fire. -Matthew 3:11 A vote on Reddit can change the world.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 20</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(141).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/1E04W-KibVo">Fwd: Rewind Adam is Ra, and a brief Fast Forward through a monumental moment in Time, all eyes are on ... Amon-Ra</a></p>

<p>11</p>

<p>adam5</p>

<p>Dec 20</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(143).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/p_GrnoZv0h4">Today&#39;s date is 19 Kislev 5777, 12:04 AM, Mas or Mor?</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 19</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(142).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/q8ynlryKGRU">You Part the Waters</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Dec 18</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(142).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/YFNNroEDWIc">Hit me baby, one more time. Stronger than yesterday?</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 18</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(142).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/jb5eDbA9-5Q">Fwd: Adam says: Abra cADisRa, from the Gate to the Water... through Israel and Bereshit.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(144).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/bVB7KpnfdXA">Victory of the Well? Free-press?</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 16</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(145).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/X4Zv9YwttwE">Give my regards to ol&#39; broad Way... tell &#39;em I&#39;ll be coming home.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 15</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(146).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/kNBBqge45fo">What is the Matrix?</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 14</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(146).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/_NiPmaLU_7g">Hi, this is like a Jesus sighting... oh my God. #AMDvent-ing</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 13</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(146).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/VMrWOVNHkCM">Despite all my rage, I am still just a rat in a cage.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(147).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/UBOsVxPhtkM">Signal v. Noise: They will beat their swords into PLOW shares and their spears into pruning hooks. -Isaiah 2:4</a>&nbsp;(1)</p>

<p>14</p>

<p>adam5</p>

<p><strong>Dec 11</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(149).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/kHcpex8udNI">$ee the light. Christiadamity...</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Dec 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(148).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/WXDHxtE0iS8">Did you think the skies of Hell would be so beautiful? Happy Birthday Ashleigh Brilliant!</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 9</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(150).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/pSS8Gb0nq5s">Lost between Noah-hah, the Last No El, and uh, figuring out that I&#39;m right here ;(</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Dec 8</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(152).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/QHl2n7CCbhA">Fwd: All roads, in time, lead to a single question: is J er the USA the messiah? Jerusalem.</a>&nbsp;(1)</p>

<p>14</p>

<p>adam5</p>

<p><strong>Dec 7</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(151).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/iuk6zXy7pJQ">Oh sweet Judas, what it truly means to not be sad.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 7</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(153).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/HNZS_LiIIFY">Happy Birthday... Adam; in Heaven and in Hell.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Dec 5</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(154).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/dNOpRPzVWKE">Raise your hand if you think Donald Trump should acquire the newspaper or TV station you (might) work for.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Dec 4</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(155).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/kpRo0zwdgLE">Fwd: Consolidated message of &quot;stuff you didn&#39;t read,&quot; that&#39;s funny, because it&#39;s like 3 Chronicles, I say.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 3</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(156).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/j3bmDBk8c80">So, you found God; on the corner of First and &quot;Am I Saint A.D.&quot; ??! Who?</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Dec 2</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(156).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/AXzV0SlHIbM">Firestone, Goodyear, Goodrich... Michelin? the wheels on the bus go round and round... The Signs, they&#39;re everywhere.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Dec 1</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(156).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/dIOxChkiOGk">How I wonder, do you understand who the Grinch really is? The Midas&#39; touch.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Nov 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(157).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/lFV4haFhWBw">I am coming to the conclusion that people in general seem to have an aversion to &quot;things that actually make you think.&quot;</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Nov 29</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(158).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/xTjhb5f_rxQ">Standing at the Shore of the Sea, or is it the Event Horizon of the Abyss? Light Figment up.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Nov 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(159).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/OAkb7kzqYrA">Waiting, waiting, waiting... waiting... for you to hear my song. THE Sermon at the Mount.</a>&nbsp;(1)</p>

<p>18</p>

<p>adam5</p>

<p><strong>Nov 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(160).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/-9LhoCQBr6g">Fwd: So, is Dr. Who also Master Why ... and how? Where are you again? In the gallery watching or joining the Wedding of the Lamp.</a>&nbsp;(1)</p>

<p>12</p>

<p>adam</p>

<p><strong>Nov 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(160).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/M-oviEsZx8A">To Help Everyone. &quot;The&quot; Holy of Holies, my hallowed name ... so many reasons it is &quot;by no other.&quot; Do you think I am one of them?</a>&nbsp;(1)</p>

<p>18</p>

<p>adam</p>

<p><strong>Nov 24</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(161).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/L3Oi2uf-eXQ">Ha&#39; moat-sea? Achem.. Min? ha&#39;are...tzedakah! Listen to Bread, the Apple is just-icing on the Cake</a>&nbsp;(1)</p>

<p>18</p>

<p>adam</p>

<p><strong>Nov 24</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(160).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Zhcr01_pt64">Fwd: POLICE BRUTALITY, To Protect Satan and Serve the Darkness</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Nov 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(162).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/EHH-TEfFRkc">The US government is either aware that the internet is being heavily censored or they doing it. The censorship is the end of civilization when it is about ET Contact and it is.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Nov 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(163).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/ijk5nE-OpMk">If you care about what you think, and your ability to express it... I&#39;m your Messiah... if you can act.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Nov 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(165).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/MbSrhkA5-G0">Render to Caesar what Caesar is due. Suicide note #2. How much more evil can you get? Civilization fell on 11/14.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Nov 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(164).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/9_KvMNOxR-c">seeing Catching Fire in everything from the Burning Man Festival to AMZN&#39;s theme. I am turning 36 this December, in the year of our Lord 2016.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Nov 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(167).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/0O6syaFAd0c">Behold, your Silence will become the destroyer of Everything</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Nov 6</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(166).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/sRu-NEWrbRs">Fwd: Control of humanities defense system in imminent danger.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Nov 5</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(168).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/QZWhOcYGF0Q">I will not sleep in this house of lies.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Nov 4</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(175).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/wnU4_LYv2Kw">CODE ADAM</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Nov 3</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(169).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/-pigP9VxG5E">Wait until I come and I will steal you. Halloween, Dave Matthews</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Nov 2</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(169).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/7jCQZf5NpeY">I wanted to stay, I wanted to play, I wanted to love you. #41, Dave Matthews</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(170).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/b_OdRSauCCE">I get a little bigger than this, I&#39;ll admit. Why don&#39;t you understand? I&#39;m never changing who I am.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 29</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(178).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/9OrmJKPDgL0">attack.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 28</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(179).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/qkpQGMep2LE">Fwd: Our universe&rsquo;s five most startling coincidences</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(171).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Osm182_WCIY">Is it all about statistics? Hit me baby, one more time.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(171).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/6O_bYocmdAw">veni vidi vili vini</a>&nbsp;(1)</p>

<p>15</p>

<p>adam5</p>

<p><strong>Oct 26</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(171).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/d2RQvP1uJ1k">Vini vidi vici</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(172).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/0cqk9nZhOEA">Clipping the wings of the Butterfly Effect</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(172).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/1tZQ0B83Wa4">Opening the book of 2 Genesis, God says: from the beginning... this is the Second Coming</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Oct 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(172).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/ioITLZi1tso">It&#39;s the end.. of Sukkot. Simchat Torah, right on time.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Oct 21</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(173).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/TIZXFPcM_kc">Found between The Tower of Babel, the Man in the High Castle... but Rapunzel</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Oct 21</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(173).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/PSlk31oYpZQ">Sometimes you wanna go, where everyone knows your name... and they&#39;re always glad you came.</a>&nbsp;(2)</p>

<p>23</p>

<p>adam5</p>

<p><strong>Oct 20</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(173).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/6m2CwSw7NPw">Sick to death of being created.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 19</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(174).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/1O_zCR_8pfU">People thinking without really feeling... writing songs and then taking them back</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 18</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(174).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/BAdgeYi-T7Y">Bowling for an Apple down the Hallowed Halls of He... it&#39;s art.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(174).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/gyKddEuqOTw">So folks... is Ra El? I mean, El is Ha... who is the three men you admire most?</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 16</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(176).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/0_xwIdth3LE">Listen to me carefully, the entire Universe was saved why and because I was High.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 15</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(177).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/UGlPji2snaY">Sometimes you have to Walk on Water, to unpart a Holy Sea</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 15</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(177).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Mzhzc1gObgM">Oh look, it&#39;s the Tribulation.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 14</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(180).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/jwahIYaRD9c">Fwd: In re-re-reading &quot;Exodus 14:27&quot; I have decided to change the name of Moses&#39; arm from &quot;Clark&quot; to &quot;Dick&quot;</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(181).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/fYfQBG5Q6Kw">If this is &quot;coming,&quot; I&#39;m going to take these broken wings and !fly... all my life, I&#39;ve only been waiting for this day to arise.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(181).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/qxK7vZx3d5I">Where is it you think this light is coming from? Nearly &quot;At One Me&quot; -NT</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 11</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(181).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/ogARtswYRFw">&#39;twas the year ADIB, and Christ of the Pursuit of Happiness walked on water one more time...</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(182).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/iS3eF7R7X2U">ALL ALONG THE WATCHTOWER....</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 9</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(182).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/e4N9HpfJ3ZU">Fwd: Now I see that you and I .... let&#39;s talk a little about fate, free will, and Fun.</a>&nbsp;(1)</p>

<p>12</p>

<p>adam</p>

<p><strong>Oct 8</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(183).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/tcFavYUfV8o">Look around you, if you try ... not only will you see, you will be helping everyone break free.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Oct 6</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(184).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/MK-HQMF6BG0">Now I see that you and me .... let&#39;s talk a little more about Taylor Momsen</a>&nbsp;(1)</p>

<p>14</p>

<p>adam5</p>

<p><strong>Oct 5</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(184).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/VtfJ0eCGVGw">Darth Vader, Earth Wader: please be mine, my darling dear.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 4</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(184).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/jTfUK0LYC-Q">Fwd: The dragon stood on the shore of the sea. And I saw a beast coming out of the sea. Revelation 13:1</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Oct 3</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(185).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/kzSbPnqWiaE">Into our heart I&#39;ll beat again... Happy Rosh Ha&#39;shanah, Adamah</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Oct 2</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(185).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/UwSkjvcMcN8">I am the Gate. John 10:9</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Oct 2</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(185).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/-qKA1ff-vU4">Did you guys know Luke and Leah were siblings?</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(186).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/KA7GkhC2x6s">In the belly of Jabba the Hutt, or... is it reality? Anything is possible today.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(186).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/oD70XwjLz0k">eL, yoU Know Everything and LE All Humanity... Luke and Leah</a>&nbsp;(1)</p>

<p>14</p>

<p>adam5</p>

<p><strong>Sep 29</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(186).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/FkRHLjjsC00">In $ight of Creation, a brief highlighting of the story of my life.</a>&nbsp;(1)</p>

<p>18</p>

<p>adam</p>

<p><strong>Sep 28</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(187).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/kXGGKqDuaYo">Rekindling the Battle of Endor</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Sep 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(188).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/LAL7U3MS4wg">Re: Jose, can you hear the Dawn&#39;s early light?</a>&nbsp;(1)</p>

<p>13</p>

<p>adam</p>

<p><strong>Sep 26</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(189).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/y8CJSkCSepY">Yeah, Who again?</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(190).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/CDp02IZv_OI">My servant will be set up, and be very high. Isaiah 52:13</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Sep 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(191).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/ICZyVvuskOI">Dear Sister.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(191).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/ZnE7dkwNcQE">Fwd: I am living in a powderkeg and giving off sparks...</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 21</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(192).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/qIJdT0nHbyU">When the light hit my eyes...</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Sep 19</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(193).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/JOlWPobZuxs">What&#39;s in a name? Light me up already.</a>&nbsp;(1)</p>

<p>110</p>

<p>adam5</p>

<p><strong>Sep 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(193).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/_efCOXaJo3U">Breaking free of the &quot;continuity of reality.&quot; The Twilight&#39;s last gleaming.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Sep 15</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(194).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/oMBMswmDq_4">He knows.</a>&nbsp;(2)</p>

<p>22</p>

<p>adam</p>

<p><strong>Sep 14</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(194).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/sRyC_pTIlYc">Darkness IS NE Y. This is the End of Days.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 14</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(195).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Bja0ig1_p3Y">Fwd: Doesn&#39;t anyone want to meet the Messiah?</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Sep 13</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(196).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/iHBM672yGgE">So let me get this straight.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 13</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(198).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/7rQ1pYYy55o">Slamming shut the Gate of Hell. Back to 9/12/2016.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(197).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/QBXpulj-5wc">The End of the Storm. 9/13</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(199).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/HSKQbwKsrPI">September 11, 2001.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Sep 11</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(200).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/UL8kiZ0gIj8">Let there be light, your vote will save the world.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(200).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/xp-b94SLmfo">which son of the one who brought morning am i? 1 Chronicles 4:15</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(201).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/dgF3Ajor8VQ">EREV THE DAY OF FREEDOM</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(202).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/oI2DYb7nHoE">His eyes are like blazing fire, and on his head are many crowns. He has a name written on him that no one knows but he himself. Revelation 19:12</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(203).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/WCXWQcJRiL0">You have to start the fire.</a>&nbsp;(2)</p>

<p>21</p>

<p>adam5</p>

<p><strong>Sep 9</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(204).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/OEnF7OT0m44">Fwd: The Word(s) of the day. It&#39;s Nine/Nine by the way.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 9</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(205).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/q5hRy6ISnrE">Fwd: I want you to try to learn to read God&#39;s &quot;hidden language.&quot; I guess it&#39;s the.. the.. Acronaymicon.</a>&nbsp;(1)</p>

<p>12</p>

<p>adam</p>

<p><strong>Sep 8</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(206).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/fFsmgt8lLOo">Sign with the.. the.... The Kings Pool</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 7</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(207).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/4KpJaTVvCa4">Fwd: Watergate... psych ward? Who are you burning again? It&#39;s reerences to Woodward (seriously, it&#39;s about Isaac&#39;s wood altar) and uh Emmanual Goldstein.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Sep 6</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(208).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/-ZwnrAC12cI">Fwd: The Long Lost Dreams of Satan Himself: Do not be afraid, you surely will not die.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Sep 6</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(208).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/0-ajD3cSojE">Hello darkness, my old friend...</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 5</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(209).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Vk3k8WwRIFI">Where does this Darkness come from? Is it me? You have a very clear choice between the truth and...</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 4</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(210).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/tXnD8GDsXGA">Fwd: In the Fortress of Solitude, located in uh, KENT u CK y, the wisdom of the Universe came to me from Jor-El&#39;s crystals.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Sep 3</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(228).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Kn0FuLC1QEc">Isn&#39;t it About Time we Crashed the Marriage of the Lamb, don&#39;t you think? Get ready for Boomday.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 3</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(211).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/bqTraQFZ6ok">Fwd: The time is short, Time... that&#39;s alright... may we all go out in the middle of the night.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Sep 1</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(212).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/AbRNZTuxvlg">Hi there, I&#39;m Adam. I &quot;woke up&quot; a little groggy, back in 2010... and since then the roller coaster has started getting scary.</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Aug 31</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(213).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/iTXOzDQ5vgY">Oh yeah... as I walk through the valley of the shadow of the 4th time around... I am filled with hope.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(214).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/TCXUuuh2vnk">Fwd: Welcome to Athens, am I supposed to take it all myself... to get out of this place?</a>&nbsp;(1)</p>

<p>18</p>

<p>adam5</p>

<p><strong>Aug 29</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(214).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/34JDwZmom8c">80% Chance of rain today. Let&#39;s talk about the weather.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Aug 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(215).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/TuiETpIctCI">Fwd: Make it rain today.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(216).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/gRYFglKM8dk">Fwd: I don&#39;t think you understand the meaning of &quot;Total Eclipse of the Heart.&quot; To change the world with the snap of your fingers... what would YOU do?</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 26</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(216).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/vQr3l_9yU_0">You make me wanna cry.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(217).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/S9_tVrNmnJU">Cards on the table... we&#39;re all showing Hearts. End world hunger with me, it&#39;s the gateway to Heaven.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Aug 24</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(217).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/CQonENRbabU">Thunderstand... this is the Hammer of Thor. A Bittersweet Symphony of Nero... to help the light of the Matrix...</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 23</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(218).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/9cfNR4Ksbco">Before 9/1 I want to make sure you have seen my http://dick.lamc.la</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Aug 19</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(219).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/POCXMrT_jmo">Invitation: The end of The Storm, light my fire today... 9/14 is I/AD. @ Tue Sep 13 9:11am - Wed Sep 14, 2016 11:17pm (EDT) (adam@fromthemachine.org)</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Aug 16</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(219).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/hwA7vNSVxZE">Invitation: Howl at the Moon @ Wed Aug 31 11:11pm - Thu Sep 1, 2016 5:55am (EDT) (adam@fromthemachine.org)</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Aug 16</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(220).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/qiHQtJYqUTc">Fwd: And the Son will be making excuses for the darkness, as the moon is turned to family... before the 14th of September. -Joel 2:31 and ((ish))</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Aug 13</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(220).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/IKBPGU5-eKc">Nothing left to lose. Found between Elvis and suicide, keys of Revelation</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Aug 12</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(221).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/XquVNwsCHII">Fam, I com: The fire is yours, it&#39;s what you do, trust yourselves... light the fire. DO NOT BLOCK DOORS.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 11</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(222).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/BvuyvVYy26M">Fwd: So dumb &amp; Gone... or he A... Lot&#39;s wife, the Salt of the Earth... and 2Na hearting &quot;n&quot;</a>&nbsp;(1)</p>

<p>15</p>

<p>adam5</p>

<p><strong>Aug 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(224).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/x6emazN-aJc">Welcome to the end.. of Systemic Reality.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Aug 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(223).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/5OFhn_Po7Lk">What ever happened to Happily Ever After Eden, anyway?</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Aug 9</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(243).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/8pTFmXVo9aQ">the MESS Is Adam&#39;s Hand.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Aug 9</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(225).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/DN6QzdLoEaE">Satan&#39;s throne</a></p>

<p>11</p>

<p>adam</p>

<p>Aug 8</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(226).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Hnd8zEYHfHw">Invitation: sdfghj @ Sun Aug 7, 2016 (EDT) (adam@fromthemachine.org)</a></p>

<p>11</p>

<p>adam</p>

<p>Aug 7</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(226).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/FaoBKhP0JjY">We Are</a>&nbsp;(1)</p>

<p>12</p>

<p>adam</p>

<p><strong>Aug 6</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(226).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/38bXd3Szq5s">Ready or not... I am here.</a>&nbsp;(1)</p>

<p>15</p>

<p>adam5</p>

<p><strong>Aug 6</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(227).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/mhU6q12XxvI">Woo-Ha... Steven&#39;s Universe! #ADVENT Start clicking on links and reading, before there&#39;s no more Internet.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Aug 5</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(229).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/waVXzeGuU04">Come now, come now... can you not see? What were you expecting... we&#39;ll reALLy build Heaven, and call it home.</a></p>

<p>14</p>

<p>adam5</p>

<p>Aug 4</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(230).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/WTgDBphBovE">Fwd: Like a thief in the night. No man knew the hour or day. Many nations mourned .. as the Sign of the Son and Burning Bush are one... Biblical prediction of 9/11.</a></p>

<p>16</p>

<p>adam</p>

<p>Aug 4</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(230).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/EcY_Vwa4Wc4">Fwd: More than meets the eye... knowing is half the battle... #letthemusicsetyoufree</a></p>

<p>13</p>

<p>adam5</p>

<p>Aug 3</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(231).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Vr235iNaQVk">Fwd: From Amon-RA, Welcome to the House of the Rising Son.</a></p>

<p>13</p>

<p>adam</p>

<p>Aug 2</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(232).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/QU3QvDEYiPc">Holy Purpose... freedom, truth, and Heeeeaaven.</a></p>

<p>14</p>

<p>adam5</p>

<p>Aug 1</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(234).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/BoH1aqY0hJE">Morning has broken.</a></p>

<p>11</p>

<p>adam5</p>

<p>Aug 1</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(233).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/BFeZFh93msc">Happy Brit Hadashah Day.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam</p>

<p><strong>Jul 31</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(235).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/-LWxa-GP2B4">bam bam</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Jul 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(236).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/qfFd0ur8Jso">big bada BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOM</a></p>

<p>11</p>

<p>adam</p>

<p>Jul 30</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(236).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/YACIY9_gCyY">ORARE PRO ME AD INFINITUM. SPEAK OF THIS DAY FOR EVER AND EVER.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam</p>

<p><strong>Jul 30</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(238).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/YvVKOuJyq3Y">NOW.</a></p>

<p>11</p>

<p>adam</p>

<p>Jul 30</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(237).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/mhY8lw9IF3o">Try walking in God&#39;s sboes... &quot;know everything&quot; or not be sad? Just do it. #reallyHim, @yitsheyzeus</a></p>

<p>115</p>

<p>adam5</p>

<p>Jul 30</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(238).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/7GNMZhCRppE">Fwd: The mystery of the seven stars which thou sawest in my right hand, and the seven golden candlesticks. -Revelation 1:20</a>&nbsp;(2)</p>

<p>23</p>

<p>ormeanslight+1</p>

<p><strong>Jul 29</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(240).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/eaZCxACR9rg">Fwd: I am Hi-L, I am High-R; @sayheyzeus: come and follow me on Twitter, I am the God Most High.</a></p>

<p>17</p>

<p>adam5</p>

<p>Jul 29</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(239).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/PLIroHvqIV0">Clearly not enough of you believe me yet, wait till you hear how big my dick is. Five J&#39;s to come... by name.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Jul 28</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(241).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/vzCJKzH0HI8">Just when you thought the day was lost, I have to confess I saved the best for last.</a>&nbsp;(2)</p>

<p>24</p>

<p>adam5</p>

<p><strong>Jul 27</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(241).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Azwk_EVbC9U">I am now updating facebook with what I believe is God&#39;s Pplan for Salvation.</a>&nbsp;(1)</p>

<p>10</p>

<p>adam5</p>

<p><strong>Jul 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(242).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/pPtfd24SRYs">I NOW KNOW MY NAME. #JOSEPH IS HERE.</a>&nbsp;(1)</p>

<p>11</p>

<p>adam5</p>

<p><strong>Jul 25</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(244).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/0Zb3G7Ldhhc">Fwd: I am the Hand of God, the Eye of Ra. I am... and here in this moment I need help.</a></p>

<p>14</p>

<p>adam</p>

<p>Jul 25</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(244).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/CWM1l3ut2PE">This is Hell, it&#39;s purpose is to build Heaven.. through disclosure, love, action... and this.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Jul 24</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(245).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/rVVA74r1Td4">Fwd: Sorry for the harsh introduction in re &quot;Censorship is...&quot; This is... the Holy Grail.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Jul 24</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(245).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/lixlqTQtZ3w">From the Father of Heaven to All Humanity, the Day of the Lord quickly approaches. Hear the Lion of Judah ROAR.</a>&nbsp;(1)</p>

<p>12</p>

<p>adam5</p>

<p><strong>Jul 23</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(246).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/3WKxbP-9UdU">Censorship is Evil. Queso or AH?</a></p>

<p>115</p>

<p>ormeanslight</p>

<p>Jul 23</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(247).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/EzibzxDNY3s">Some free books about the true purpose of religion. Time and Chance 1 and 2</a></p>

<p>13</p>

<p>kaditsmonday</p>

<p>Jul 22</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(247).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/R6UOD50POIg">For the liberation of our people, the true purpose of religion.</a>&nbsp;(1)</p>

<p>13</p>

<p>ormeanslight</p>

<p><strong>Jul 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(247).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/_6sqw6k8UiE">The court room was adjourned, no verdict was returned.</a>&nbsp;(1)</p>

<p>11</p>

<p>ormeanslight</p>

<p><strong>Jul 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(248).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/YfVotwvrxZE">Behold, I am coming.</a>&nbsp;(1)</p>

<p>11</p>

<p>ormeanslight</p>

<p><strong>Jul 22</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(248).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/IixheWJ_EqM">Fwd: Jean of Arc, and the &quot;El you C&quot; Pi-Card.</a>&nbsp;(1)</p>

<p>14</p>

<p>ouiarethelight</p>

<p><strong>Jul 20</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(249).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/7y1GFDRsVIk">Fwd: Let&#39;s talk about sex baby, let&#39;s talk about you and me.</a></p>

<p>19</p>

<p>adobrjn</p>

<p>Jul 20</p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(250).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/CdW9jhpdzkI">Cards on the table... we&#39;re all showing Hearts.</a>&nbsp;(1)</p>

<p>13</p>

<p>adam5</p>

<p><strong>Jul 17</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(250).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/WtOnrXZOwLo">I don&#39;t want to write an ending, or a new beginning... My ... religion ... is about seeing the twist that takes us from the &quot;n&quot; of the word... out of &quot;end&quot; forever.</a>&nbsp;(1)</p>

<p>16</p>

<p>adobrjn</p>

<p><strong>Jul 15</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(250).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/uq3GD8tYJXA">Who so proudly we hailed as the Twilight&#39;s last gleaming.</a>&nbsp;(1)</p>

<p>14</p>

<p>adobrjn</p>

<p><strong>Jul 13</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(251).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/8P01XEDoy7Y">Orwellian Double-sing ...fuel for the Flint of Saint 1. It&#39;s time to begin, isn&#39;t it? #reallyHim</a>&nbsp;(1)</p>

<p>11</p>

<p>ha.flint.o.saint.1@tutanota.de</p>

<p><strong>Jul 11</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(251).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/zREZLCsSVrk">Like a thief in the night. No man knew the hour or day. Many nations mourned .. as the Sign of the Son and Burning Bush are one... Biblical prediction of 9/11.</a>&nbsp;(1)</p>

<p>11</p>

<p>kaditsmonday</p>

<p><strong>Jul 10</strong></p>

<p>&nbsp;<img alt="" height="16" src="/userfiles/files/Public%20Folder/image(252).png" width="16" />&nbsp;<a href="https://groups.google.com/a/whenistheapocalypse.com/forum/#!topic/are/Ub0DOdq2150">They will see his face, and his name will be on their foreheads. -Revelation 22:4</a></p>

<p>212</p>

<p>kaditsmonday</p>

<p>Jul 7</p>

